
.TodoItem{
    font-size: 18px;
    font-weight: 300;
    color: #4d4d4d;
    border-bottom: 1px solid #bebebe;
    display: flex;
}

.TodoItem > p{
    margin: 0;
    padding: 10px 5px;
    margin: 0 auto;
}

.TodoItem > img{
    padding-top: 10px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    justify-content: center;
}

.TodoItem:last-child{
    border-bottom: none;
}

.TodoItem-complete > p{
    text-decoration: line-through;
    opacity: .3;
}